footer {
  background-color: var(--primary-dark);
  background-image: url("../img/footer_bcg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  position: relative;
}

footer > .container {
  display: flex;
  gap: 20px;
}

footer::before,
footer::after {
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  bottom: 0;
}

footer::before {
  background-image: url("../img/decor-bread-left.png");
  width: 180px;
  height: 120px;
  left: 0;
}

footer::after {
  background-image: url("../img/decor-bread-right.png");
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-icon {
  width: 32px;
  height: 32px;
  fill: var(--primary-light);
}

.footer-icon:hover {
  fill: var(--brand-light);
}
