@use "./base";
@use "./utils/variables";
@use "./utils/fonts";
@use "./utils/utils";
@use "./components/links";
@use "./layouts/header";
@use "./layouts/hero-section";
@use "./layouts/traditions-section";
@use "./components/buttons";
@use "./layouts/footer";
@use "./layouts/modal";
@use "./layouts/form";

@use "./utils/mixins";

.general-title {
  line-height: 1.3;
  font-size: 64px;
  font-weight: 900;
}

.general-title span {
  color: var(--brand-dark);
}

.formats-title,
.chiefs-title {
  margin-bottom: 80px;
}

.chiefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.formats-title,
.chiefs-title {
  text-align: center;
}

// test
.chiefs-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.chiefs-item {
  display: flex;
  gap: 45px 30px;
  flex-basis: calc((100% - 30px) / 2);
}

.chiefs-item > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chief-img {
  max-width: 268px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-light),
    -16px 16px 0 2px var(--shadow-clr);
}

.chiefs-title::after,
.chiefs-title::before {
  position: absolute;
  bottom: 24px;
  content: "";
  width: 352px;

  //
  // height: 2px;
  // background-color: #cfcfbc;
  //

  border: 2px solid #cfcfbc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.chiefs-title::before {
  left: 0;
}

.chiefs-title::after {
  right: 0;
}

.chiefs-name {
  font-weight: 600;
  font-size: 40px;
  // margin-bottom: 16px;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.arrow-btn {
  background-color: transparent;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  padding: 0;
  fill: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.arrow-btn:last-child {
  transform: rotate(180deg);
}

.arrow-btn > svg {
  width: 16px;
  height: 16px;
}

.arrow-btn:hover {
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}

.formats-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  height: 444px;
  flex-basis: calc((100% - 40px) / 3);
  transition: transform 0.3s;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--primary-dark) 100%
  );
  color: var(--primary-light);
  position: relative;
}

.formats-item:hover {
  transform: scale(1.05);
}

.formats-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 16px;
}

.formats-text-container {
  font-size: 14px;
  font-weight: 300;
}

.contacts-title {
  margin-bottom: 16px;
}

.address-copyright {
  font-size: 14px;
}

.section.form {
  display: flex;
  gap: 32px;
  padding-bottom: 96px;
}

.map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 100%;
  max-width: 603px;
  height: 100%;
  // max-height: 595px;
  height: 595px;
}
